CohereAPIKey=YOUR_COHERE_API_KEY_HERE
Username = YOUR_NAME_HERE
Assistantname = YOUR_ASSISTANT_NAME_HERE
GroqAPIKey = YOUR_GROQ_API_KEY_HERE
InputLanguage = YOUR_INPUT_LANGUAGE_HERE
AssistantVoice = YOUR_ASSISTANT_VOICE_HERE
HuggingFaceAPIKey = YOUR_HUGGING_FACE_API_KEY_HERE